.ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell {
    
    padding: 0 !important;
  }
  .datatable-row-wrapper:nth-child(2n){
    background-color: rgb(255, 255, 255) !important;
}

.datatable-row-wrapper:nth-child(2n+1){
    background-color: rgb(120, 209, 239) !important;
}