<div id="sidebar-bg">

	<div id="content-sidebar-pro">

		<div id="content-sidebar-image">
			<img src="http://via.placeholder.com/450x620" alt="Movie Poster">
		</div>

		<div class="content-sidebar-section">
			<h2 class="content-sidebar-sub-header">True Blood</h2>
			<ul class="progression-studios-slider-rating">
				<li>PG-13</li>
				<li>HD</li>
			</ul>
		</div><!-- close .content-sidebar-section -->

		<div class="content-sidebar-section">
			<h4 class="content-sidebar-sub-header">Yayın tarihi</h4>
			<div class="content-sidebar-short-description">2 Ekim 2017</div>
		</div><!-- close .content-sidebar-section -->

		<div class="content-sidebar-section">
			<h4 class="content-sidebar-sub-header">Uzunluk</h4>
			<div class="content-sidebar-short-description">2 saat 43 dk</div>
		</div><!-- close .content-sidebar-section -->

		<div class="content-sidebar-section">
			<h4 class="content-sidebar-sub-header">Yönetmen</h4>
			<div class="content-sidebar-short-description">James Wan</div>
		</div><!-- close .content-sidebar-section -->



		<div class="content-sidebar-section">
			<h2 class="content-sidebar-sub-header adjusted-recent-reviews">Son İncelemeler</h2>
			<ul id="sidebar-reviews-pro">
				<li>
					<div class="circle-rating-pro" data-value="0.86" data-animation-start-value="0.86" data-size="32"
						data-thickness="3" data-fill="{
				          &quot;color&quot;: &quot;#42b740&quot;
				        }" data-empty-fill="#def6de" data-reverse="true"><span style="color:#42b740;">8.6</span></div>
					<h6>Dan Cederholm</h6>
					<div class="sidebar-review-time">22 Ekim 2017</div>
					<div class="spoiler-review">Spoiler İçerir</div>
					<p>Bugünlerde çok fazla bilimkurgu filmi yapmıyorlar. Bu, film boyunca hoş bir sürprizdi. Bu filmi
						gerçekten beğendim.</p>
				</li>
				<li>
					<div class="circle-rating-pro" data-value="0.53" data-animation-start-value="0.53" data-size="32"
						data-thickness="3" data-fill="{
				          &quot;color&quot;: &quot;#ff4141&quot;
				        }" data-empty-fill="#ffe1e1" data-reverse="true"><span style="color:#ff4141;">5.3</span></div>
					<h6>Jeff Seid</h6>
					<div class="sidebar-review-time">18 Ekim 2017</div>
					<p>Bu filmi izledikten sonra sinemalardan çıktığımda kafam karışmıştı. Beğenip beğenmediğime karar
						veremedim.</p>
				</li>
				<li>
					<div class="circle-rating-pro" data-value="0.72" data-animation-start-value="0.72" data-size="32"
						data-thickness="3" data-fill="{
				          &quot;color&quot;: &quot;#42b740&quot;
				        }" data-empty-fill="#def6de" data-reverse="true"><span style="color:#42b740;">7.2</span></div>
					<h6>Christian De Guzman</h6>
					<div class="sidebar-review-time">26 Ağustos 2017</div>
					<div class="spoiler-review">Spoiler İçerir</div>
					<p>Yıllardır sinema aşığıyım, JuriMedya'de ve her yerde çok sayıda eleştiri okudum ama ilk
						incelememi yazacak doğru filmi bir türlü bulamadım. Her zaman filmi bekleyeceğimi düşünmüştüm.
					</p>
					<p>Ve işte bu!</p>
				</li>
				<li>
					<div class="circle-rating-pro" data-value="0.9" data-animation-start-value="0.9" data-size="32"
						data-thickness="3" data-fill="{
				          &quot;color&quot;: &quot;#42b740&quot;
				        }" data-empty-fill="#def6de" data-reverse="true"><span style="color:#42b740;">9.0</span></div>
					<h6>Jennifer Thomas</h6>
					<div class="sidebar-review-time">15 Ağustos 2017</div>
					<p>'Oblivion’ inanılmazdı. Görseller, müzikler, oyunculuklar hepsi muhteşemdi. Konusu kesinlikle
						uzun zamandır gördüğüm en orijinal senaryolardan biri</p>
				</li>
			</ul>
			<a href="#!" class="btn btn-green-pro btn-sm">Tüm İncelemeleri Gör</a>
		</div><!-- close .content-sidebar-section -->

	</div><!-- close #content-sidebar-pro -->


	<main id="col-main-with-sidebar">

		<div id="movie-detail-header-pro" style="background-image:url('http://via.placeholder.com/1442x775')">

			<div class="progression-studios-slider-more-options">
				<i class="fas fa-ellipsis-h"></i>
				<ul>
					<li><a href="#!">Favorilere Ekle</a></li>
					<li><a href="#!">İzleme Listesine Ekle</a></li>
					<li><a href="#!">Oynatma Listesine Ekle</a></li>
					<li><a href="#!">Paylaş...</a></li>
					<li><a href="#!">Yorum Yaz</a></li>
				</ul>
			</div>

			<a class="movie-detail-header-play-btn afterglow" href="#VideoLightbox-1"><i class="fas fa-play"></i></a>

			<video id="VideoLightbox-1" poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg?v1"
				width="960" height="540">
				<source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.mp4" type="video/mp4">
				<source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.webm" type="video/webm">
			</video>

			<div id="movie-detail-header-media">
				<div class="dashboard-container">
					<h5>Medya</h5>
					<div class="row">
						<div class="col-6 col-md-4 col-lg-4">
							<a class="movie-detail-media-link afterglow" href="#VideoLightbox-1">
								<div class="movie-detail-media-image">
									<img src="http://via.placeholder.com/500x300">
									<span><i class="fas fa-play"></i></span>
									<h6>Fragman</h6>
								</div>
							</a>
						</div>
						<div class="col-6 col-md-4 col-lg-4">
							<a class="movie-detail-media-link afterglow" href="#VideoLightbox-1">
								<div class="movie-detail-media-image">
									<img src="http://via.placeholder.com/500x300">
									<span><i class="fas fa-play"></i></span>
									<h6>Röportaj</h6>
								</div>
							</a>
						</div>
						<div class="col-6 col-md-4 col-lg-4">
							<a class="movie-detail-media-link" href="#!">
								<div class="movie-detail-media-image">
									<img src="http://via.placeholder.com/500x300">
									<span><i class="fas fa-play"></i></span>
									<h6>Film Fotoğrafları</h6>
								</div>
							</a>
						</div>
					</div><!-- close .row -->
				</div><!-- close .dashboard-container -->
			</div><!-- close #movie-detail-header-media -->

			<div id="movie-detail-gradient-pro"></div>
		</div><!-- close #movie-detail-header-pro -->


		<div id="movie-detail-rating">
			<div class="dashboard-container">
				<div class="row">
					<div class="col-sm">
						<h5>True Blood'u oyla</h5>

						<div class="rating-pro">
							<label>
								<input type="radio" name="rating-pro" value="10" title="10 stars"> 10
							</label>
							<label>
								<input type="radio" name="rating-pro" value="9" title="9 stars"> 9
							</label>
							<label>
								<input type="radio" name="rating-pro" value="8" title="8 stars"> 8
							</label>
							<label>
								<input type="radio" name="rating-pro" value="7" title="7 stars"> 7
							</label>
							<label>
								<input type="radio" name="rating-pro" value="6" title="6 stars"> 6
							</label>
							<label>
								<input type="radio" name="rating-pro" value="5" title="5 stars"> 5
							</label>
							<label>
								<input type="radio" name="rating-pro" value="4" title="4 stars"> 4
							</label>
							<label>
								<input type="radio" name="rating-pro" value="3" title="3 stars"> 3
							</label>
							<label>
								<input type="radio" name="rating-pro" value="2" title="2 stars"> 2
							</label>
							<label>
								<input type="radio" name="rating-pro" value="1" title="1 star"> 1
							</label>
						</div>

					</div>
					<div class="col-sm">
						<h6>Kullanıcı oyu</h6>
						<div class="circle-rating-pro" data-value="0.86" data-animation-start-value="0.86"
							data-size="40" data-thickness="3" data-fill="{
					          &quot;color&quot;: &quot;#42b740&quot;
					        }" data-empty-fill="#def6de" data-reverse="true"><span style="color:#42b740;">8.6</span></div>
						<div class="clearfix"></div>
					</div>
				</div><!-- close .row -->
			</div><!-- close .dashboard-container -->
		</div><!-- close #movie-detail-rating -->

		<div class="dashboard-container">


			<div class="movie-details-section">
				<h2>Hikaye konusu</h2>
				<p>Mae Holland (Emma Watson), dünyanın en güçlü teknoloji ve sosyal medya şirketinde işe girdiğinde
					hayatının fırsatını yakalar. Şirketin kurucusunun (Tom Hanks) cesaretlendirdiği Mae, mahremiyetin,
					ahlakın ve kişisel özgürlüğün sınırlarını zorlayan çığır açıcı bir deneye katılır. Deneye katılması
					ve aldığı her karar, kısa sürede arkadaşlarının, ailesinin ve insanlığın hayatını ve geleceğini
					etkilemeye başlar..</p>
			</div><!-- close .movie-details-section -->

			<div class="movie-details-section">
				<h2>Oyuncular</h2>
				<div class="row">
					<div class="col-12 col-md-6 col-lg-6 col-xl-4">
						<div class="item-listing-container-skrn">
							<a href="#!"><img src="http://via.placeholder.com/507x672" alt="Cast"></a>
							<div class="item-listing-text-skrn item-listing-movie-casting">
								<h6><a href="#!">Robert Downey Jr.</a></h6>
								<div class="movie-casting-sub-title">Tony Stark</div>
							</div><!-- close .item-listing-text-skrn -->
						</div><!-- close .item-listing-container-skrn -->
					</div><!-- close .col -->

					<div class="col-12 col-md-6 col-lg-6 col-xl-4">
						<div class="item-listing-container-skrn">
							<a href="#!"><img src="http://via.placeholder.com/507x672" alt="Cast"></a>
							<div class="item-listing-text-skrn item-listing-movie-casting">
								<h6><a href="#!">Scarlett Johansson</a></h6>
								<div class="movie-casting-sub-title">Black Widow</div>
							</div><!-- close .item-listing-text-skrn -->
						</div><!-- close .item-listing-container-skrn -->
					</div><!-- close .col -->

					<div class="col-12 col-md-6 col-lg-6 col-xl-4">
						<div class="item-listing-container-skrn">
							<a href="#!"><img src="http://via.placeholder.com/507x672" alt="Cast"></a>
							<div class="item-listing-text-skrn item-listing-movie-casting">
								<h6><a href="#!">Chris HemsworthThor</a></h6>
								<div class="movie-casting-sub-title">Tony Stark</div>
							</div><!-- close .item-listing-text-skrn -->
						</div><!-- close .item-listing-container-skrn -->
					</div><!-- close .col -->

				</div><!-- close .row -->
			</div><!-- close .movie-details-section -->


			<div class="movie-details-section">
				<h2>Benzer Filmler</h2>
				<div class="row">
					<div class="col-12 col-md-6 col-lg-6 col-xl-4">
						<div class="item-listing-container-skrn">
							<a href="dashboard-movie-profile.html"><img src="http://via.placeholder.com/500x707"
									alt="Listing"></a>
							<div class="item-listing-text-skrn">
								<div class="item-listing-text-skrn-vertical-align">
									<h6><a href="dashboard-movie-profile.html">Bad Neighbors 2</a></h6>
									<div class="circle-rating-pro" data-value="0.72" data-animation-start-value="0.72"
										data-size="32" data-thickness="3" data-fill="{
								          &quot;color&quot;: &quot;#42b740&quot;
								        }" data-empty-fill="#def6de" data-reverse="true"><span style="color:#42b740;">7.2</span></div>
								</div><!-- close .item-listing-text-skrn-vertical-align -->
							</div><!-- close .item-listing-text-skrn -->
						</div><!-- close .item-listing-container-skrn -->
					</div><!-- close .col -->


					<div class="col-12 col-md-6 col-lg-6 col-xl-4">
						<div class="item-listing-container-skrn">
							<a href="dashboard-movie-profile.html"><img src="http://via.placeholder.com/500x707"
									alt="Listing"></a>
							<div class="item-listing-text-skrn">
								<div class="item-listing-text-skrn-vertical-align">
									<h6><a href="dashboard-movie-profile.html">Star Wars: Rogue One</a></h6>
									<div class="circle-rating-pro" data-value="0.86" data-animation-start-value="0.86"
										data-size="32" data-thickness="3" data-fill="{
								          &quot;color&quot;: &quot;#42b740&quot;
								        }" data-empty-fill="#def6de" data-reverse="true"><span style="color:#42b740;">8.6</span></div>
								</div><!-- close .item-listing-text-skrn-vertical-align -->
							</div><!-- close .item-listing-text-skrn -->
						</div><!-- close .item-listing-container-skrn -->
					</div><!-- close .col -->

					<div class="col-12 col-md-6 col-lg-6 col-xl-4">
						<div class="item-listing-container-skrn">
							<a href="dashboard-movie-profile.html"><img src="http://via.placeholder.com/500x707"
									alt="Listing"></a>
							<div class="item-listing-text-skrn">
								<div class="item-listing-text-skrn-vertical-align">
									<h6><a href="dashboard-movie-profile.html">The Imitation Game</a></h6>
									<div class="circle-rating-pro" data-value="0.6" data-animation-start-value="0.6"
										data-size="32" data-thickness="3" data-fill="{
								          &quot;color&quot;: &quot;#ff4141&quot;
								        }" data-empty-fill="#ffe1e1" data-reverse="true"><span style="color:#ff4141;">6.0</span></div>
								</div><!-- close .item-listing-text-skrn-vertical-align -->
							</div><!-- close .item-listing-text-skrn -->
						</div><!-- close .item-listing-container-skrn -->
					</div><!-- close .col -->
				</div><!-- close .row -->

			</div><!-- close .movie-details-section -->

		</div><!-- close .dashboard-container -->
	</main>