<!-- Taskboard Starts -->

<section id="minimal-statistics">
  <div class="row">
    <div class="col-12">
      <div class="content-header">İş Emri Göstergeleri</div>
      <p class="content-sub-header mb-1">İş Merkezi Bazında Gantt Şemasını Daraltabilirsiniz.</p>
      <button class="btn btn-outline-warning " (click)="istatistikGor()">Gör</button>
      <button type="button" class="btn btn-outline-warning" (click)="favorilereEkle('')" style="margin-left:5px;"><i
        class=" ft-star"></i></button>

    </div>
  </div>

  <div class="row" [hidden]="istatistikgizle">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card" (click)="ayrintiliGor('komponay')">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 info">0</h3>
                <span>Komp Onay İş Emri</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-briefcase info font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card" (click)="ayrintiliGor('plansizemri')">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 danger">{{plansizIsemri}}</h3>
                <span>Plansız İş Emri</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-briefcase danger font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card" (click)="ayrintiliGor('baslanmamisemri')">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 success">{{baslanmamisIsemri}}</h3>
                <span>Başlanmamış İş Emri</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-user success font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card" (click)="ayrintiliGor('surenemri')"> 
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 warning">{{surenIsemri}}</h3>
                <span>Süren İş Emri</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-pie-chart warning font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card" (click)="ayrintiliGor('kompemri')">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 primary">{{kompresyonIsemri}}</h3>
                <span>Kompresyon İş Emri</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-life-buoy primary font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card" (click)="ayrintiliGor('hamuremri')">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 primary">{{hamurIsemri}}</h3>
                <span>Hamur İş Emri</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-book-open primary font-large-2 float-right"></i>
              </div>
            </div>
            <ngb-progressbar type="primary" [value]="80" class="progress-bar-sm" height="4px"></ngb-progressbar>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card" (click)="ayrintiliGor('azotemri')">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 warning">{{azotIsemri}}</h3>
                <span>Azot İş Emri</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-message-square warning font-large-2 float-right"></i>
              </div>
            </div>
            <ngb-progressbar type="warning" [value]="35" class="progress-bar-sm" height="4px"></ngb-progressbar>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card" (click)="ayrintiliGor('tesviyeemri')">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 success">{{tesviyeIsemri}}</h3>
                <span>Tesviye İş Emri</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-trending-up success font-large-2 float-right"></i>
              </div>
            </div>
            <ngb-progressbar type="success" [value]="60" class="progress-bar-sm" height="4px"></ngb-progressbar>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card" (click)="ayrintiliGor('dofemri')">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 danger">{{dofIsemri}}</h3>
                <span>DÖF İş Emri</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-map-pin danger font-large-2 float-right"></i>
              </div>
            </div>
            <ngb-progressbar type="danger" [value]="40" class="progress-bar-sm" height="4px"></ngb-progressbar>
          </div>
        </div> 
      </div>
    </div>
  </div>


  
</section>
<!-- // Minimal statistics section end -->

<section id="taskboard" class="app-taskboard">
  <div class="row">
  
    <div class="col-3">
      <div class="form-group mb-2">
        <label for="basic-form-1">GANTT CHART</label>
      
        <ng-select 
                  (change)="isistasyonGetir($event)"
                  [(ngModel)]="selectedPer"
                   [items]="Merkezlistesi" 
                   bindLabel="name" 
                   bindValue="id"  placeholder="İş Merkezleri" style="font-size: 14px;">
        </ng-select>
      </div>
    </div>

    <div class="col-3">
      <div class="form-group mb-2">
        <button class="btn btn-primary" (click)="hepsinigetir()" >Hepsi</button>
      </div>
    </div>

    <!-- <div class="col-3">
      <div class="form-group mb-2">
        <label for="basic-form-1">DEPARTMAN FİLTRESİ</label>
      
        <ng-select multiple="true" (change)="yenidenyukle()"  [items]="cities[2316]" bindLabel="name" id="ilgilidepartman"  bindValue="id" [closeOnSelect]="true" name="ilgilidepartman" [(ngModel)]="ilgilidepartman">
        
       
        </ng-select>
      </div>
    </div> -->
    <!-- <div class="col-3">
      
      <ng-select   (change)="onChange($event)" [items]="departman"
      bindLabel="departmanad"
      placeholder="Filtrele"
      [(ngModel)]="selectedDep">
</ng-select>
    </div> -->
  </div>

 <div class="row">
  <highcharts-chart 
  [Highcharts]="Highcharts" 
  [constructorType]="'ganttChart'" 
  [options]="chartOptions" style="width:100%">
</highcharts-chart>
  </div>


  
  <div class="row text-left">
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="kb-content">
              <div class="row kb-content-info match-height mx-1 mx-md-2">
                <div class="col-md-2 col-sm-6 kb-content-card"  *ngFor="let fm of is_istasyonlari " >
                  <div class="card bg-light" style="box-shadow: -8px 8px 14px 0 rgb(25 42 70 / 11%);" >
                    <div class="card-content">
                      <div class="card-body text-center p-2" >
                        <a href="javascript:;" >
                          <h6 class="mt-2 black">{{fm}}</h6>
                         
                        </a>
                        <div *ngFor="let mk of aktifmakinaemirler" >
                          <div class="card bg-warning" style="box-shadow: -8px 8px 14px 0 rgb(25 42 70 / 11%);"   *ngIf="fm==mk.makine">
                            <div class="card-content" >
                              <div class="card-body text-center p-2" >
                                  <small class="mt-2 black">{{mk.malzemekodu}}</small>
                                  <br>
                                  <small class="mt-2 black">{{mk.firmaadi  | slice:0:8}}</small>
                              </div>
                            </div>
                          </div>
                        </div>
                       
                      </div>
                    </div>
                  </div>

             
                </div>
             
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</section>
<!-- Taskboard Ends -->
