<!--Forgot Password Starts-->
<section id="forgot-password">
  <div class="row auth-height full-height-vh m-0 d-flex align-items-center justify-content-center">
    <div class="col-md-7 col-12">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body auth-img">
            <div class="row m-0">
              <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center text-center auth-img-bg py-2">
                <img src="assets/img/gallery/forgot.png" alt="" class="img-fluid" width="500" height="230">
              </div>
              <div class="col-lg-6 col-md-12 px-4 py-3">
                <h4 class="mb-2 card-title">Sunucu Ayarları</h4>
                <p class="card-text mb-3">Bağlantı ayarlarınızı yapın</p>
                <input type="text" class="form-control mb-3" placeholder="Geçerli sunucu adresi giriniz" value="{{kayitlisunucu}}" [(ngModel)]="sunucuadresi">
                <div class="d-flex flex-sm-row flex-column justify-content-between">
                  <a [routerLink]="['/pages/login']" class="btn bg-light-primary mb-2 mb-sm-0">Girişe Dön</a>
                  <button class="btn btn-primary ml-sm-1" (click)="onSubmit()">Kaydet</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Forgot Password Ends-->
