* {
    -webkit-user-select: none;
    user-select: none;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.fade {
    animation-name: fade;
    animation-fill-mode:both;
    animation-duration: 3s;
}


.carousel {
    overflow: hidden;
    width: 100%;
    min-height: fit-content;
    margin-left: 0 !important;
    justify-content: center;
    align-content: start;

    .light-fonts-pro {
        height: fit-content;
    }

    .carousel-stage {
        position: relative;
        width: 100%;
        min-height: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        

        .slide {
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-content: start;
            position: absolute;
            padding: 0 1.5%;
            width: 80%;
            height: 95%;
            
            .slide-img {
                width: 100%;
                max-height: 180px;
            }   

            .caption {
                margin-bottom: 5px;
                text-align: center;

                .progression-studios-slider-description {
                    max-height: 220px;
                    overflow-y: auto;
                }
            }
        }
    }

    .slide-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 10%; max-width: 50px; min-width: 40px;
        height: 20%; max-height: 50px; min-height: 40px;
        border-radius: 50%;
        background-color: var(--dark-background);
        background-image: none;
        color: white;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all .3s ease-in-out;
        border: none;

        &:hover {
            background-color: rgba(0,0,0,.4);
        }
        
        i {
            font-size: 1.5rem;
        }
    }
}

.starring {
	max-width:100%;
	height:auto;
    aspect-ratio: 1 / 1;
}