
		<div id="sidebar-bg">

		<div id="content-sidebar-pro">
			
			<div id="content-sidebar-info">
				<img src="http://via.placeholder.com/400x498" alt="Suzie">
				<div id="profile-sidebar-name">
					<h5>Ayşe Süslü</h5>
					<h6>Manila, Philippines</h6>
				</div>
				<div id="profile-sidebar-gradient"></div>
				<a href="dashboard-account.html" class="edit-profile-sidebar"><i class="fas fa-pencil-alt"></i></a>
			</div>
			
			<div class="content-sidebar-section">
				<h3 class="content-sidebar-sub-header">Puanlar</h3>
				<ul id="profile-watched-stats">
					<li><span>43</span> Kazanılan</li>
					<li><span>28</span> Harcanılan</li>
					<li><span>07</span> Kalan</li>
				</ul>
			</div><!-- close .content-sidebar-section -->
			
			<div class="content-sidebar-section">
				<h3 class="content-sidebar-sub-header">FAVORİ TÜRLER</h3>
				<ul id="profile-favorite-genres">
					<li>
						<img src="images/genres/comedy.png" alt="Comedy">
					</li>
					<li>
						<img src="images/genres/action.png" alt="Action">
					</li>
					<li>
						<img src="images/genres/romance.png" alt="Romance">
					</li>
					<li>
						<img src="images/genres/fantasy.png" alt="Fantasy">
					</li>
					<!-- Saklanmış -->
					<button class="btn btn-sm btn-primary mt-2 d-none">Düzenle</button>
				</ul>
				<div class="clearfix"></div>
			</div><!-- close .content-sidebar-section -->
			
			<!-- Saklanmış -->
			<div class="d-none content-sidebar-section">
				<h3 class="content-sidebar-sub-header">Friends: 87</h3>
				<ul id="friends-activity-profiles">
					<li><a href="#!"><img src="images/demo/user-8.jpg" alt="Friend"></a></li>
					<li><a href="#!"><img src="images/demo/user-9.jpg" alt="Friend"></a></li>
					<li><a href="#!"><img src="images/demo/user-10.jpg" alt="Friend"></a></li>
					<li><a href="#!"><img src="images/demo/user-11.jpg" alt="Friend"></a></li>
					<li class="friends-activity-profiles-more"><a href="#!">+83</a></li>
				</ul>
				<div class="clearfix"></div>
			</div><!-- close .content-sidebar-section -->
			
			<!-- Saklanmış -->
			<div class="d-none content-sidebar-section">
				<h3 class="content-sidebar-sub-header">Friends Activity</h3>
				<ul id="friends-activity-feed">
					<li><img src="images/demo/user-15.jpg" alt="Friend">Added <a href="#!">Interstellar</a> to her Favorite Playlist</li>
					<li><img src="images/demo/user-8.jpg" alt="Friend">Wants to Watch <a href="#!">The Imitation Game</a></li>
					<li><img src="images/demo/user-9.jpg" alt="Friend">Added <a href="#!">Moonlight</a> to his <a href="#!">Playlist Best Dramas</a></li>
					<li><img src="images/demo/user-4.jpg" alt="Friend">Watched <a href="#!">Transformers: The Last Knight</a></li>
				</ul>
				<div class="clearfix"></div>
			</div><!-- close .content-sidebar-section -->
			
			
		</div><!-- close #content-sidebar-pro -->
	
		<main id="col-main-with-sidebar">
			
			<div class="dashboard-container">
				
				<ul class="dashboard-sub-menu">
					<li class="current"><a href="dashboard-profile.html">Tavsiye Edilen</a></li>
					<li><a href="dashboard-favorites.html">Favoriler</a></li>
					<!-- <li><a href="#!">Playlists</a></li> -->
					<li><a href="#!">İncelemeler</a></li>
					<!-- <li><a href="#!">Friends</a></li> -->
				</ul><!-- close .dashboard-sub-menu -->
				
				
				<div class="row">
					<div class="col-12 col-md-6 col-lg-6 col-xl-4">
						<div class="item-listing-container-skrn">
							<a href="dashboard-movie-profile.html"><img src="http://via.placeholder.com/500x707" alt="Listing"></a>
							<div class="item-listing-text-skrn">
								<div class="item-listing-text-skrn-vertical-align"><h6><a href="dashboard-movie-profile.html">The Wild Things Are</a></h6>
							      <div
							        class="circle-rating-pro"
							        data-value="0.86"
							        data-animation-start-value="0.86"
							        data-size="32"
							        data-thickness="3"
							        data-fill="{
							          &quot;color&quot;: &quot;#42b740&quot;
							        }"
							        data-empty-fill="#def6de"
							        data-reverse="true"
							      ><span style="color:#42b740;">8.6</span></div>
								</div><!-- close .item-listing-text-skrn-vertical-align -->
							</div><!-- close .item-listing-text-skrn -->
						</div><!-- close .item-listing-container-skrn -->
					</div><!-- close .col -->
					
					<div class="col-12 col-md-6 col-lg-6 col-xl-4">
						<div class="item-listing-container-skrn">
							<a href="dashboard-movie-profile.html"><img src="http://via.placeholder.com/500x707" alt="Listing"></a>
							<div class="item-listing-text-skrn">
								<div class="item-listing-text-skrn-vertical-align"><h6><a href="dashboard-movie-profile.html">Central Intelligence</a></h6>
							      <div
							        class="circle-rating-pro"
							        data-value="0.6"
							        data-animation-start-value="0.6"
							        data-size="32"
							        data-thickness="3"
							        data-fill="{
							          &quot;color&quot;: &quot;#ff4141&quot;
							        }"
							        data-empty-fill="#ffe1e1"
							        data-reverse="true"
							      ><span style="color:#ff4141;">6.0</span></div>
								</div><!-- close .item-listing-text-skrn-vertical-align -->
							</div><!-- close .item-listing-text-skrn -->
						</div><!-- close .item-listing-container-skrn -->
					</div><!-- close .col -->
					
					
					<div class="col-12 col-md-6 col-lg-6 col-xl-4">
						<div class="item-listing-container-skrn">
							<a href="dashboard-movie-profile.html"><img src="http://via.placeholder.com/500x707" alt="Listing"></a>
							<div class="item-listing-text-skrn">
								<div class="item-listing-text-skrn-vertical-align"><h6><a href="dashboard-movie-profile.html">Zoolander No. 2</a></h6>
							      <div
							        class="circle-rating-pro"
							        data-value="0.86"
							        data-animation-start-value="0.86"
							        data-size="32"
							        data-thickness="3"
							        data-fill="{
							          &quot;color&quot;: &quot;#42b740&quot;
							        }"
							        data-empty-fill="#def6de"
							        data-reverse="true"
							      ><span style="color:#42b740;">8.6</span></div>
								</div><!-- close .item-listing-text-skrn-vertical-align -->
							</div><!-- close .item-listing-text-skrn -->
						</div><!-- close .item-listing-container-skrn -->
					</div><!-- close .col -->
					
					<div class="col-12 col-md-6 col-lg-6 col-xl-4">
						<div class="item-listing-container-skrn">
							<a href="dashboard-movie-profile.html"><img src="http://via.placeholder.com/500x707" alt="Listing"></a>
							<div class="item-listing-text-skrn">
								<div class="item-listing-text-skrn-vertical-align"><h6><a href="dashboard-movie-profile.html">Bad Neighbors 2</a></h6>
							      <div
							        class="circle-rating-pro"
							        data-value="0.72"
							        data-animation-start-value="0.72"
							        data-size="32"
							        data-thickness="3"
							        data-fill="{
							          &quot;color&quot;: &quot;#42b740&quot;
							        }"
							        data-empty-fill="#def6de"
							        data-reverse="true"
							      ><span style="color:#42b740;">7.2</span></div>
								</div><!-- close .item-listing-text-skrn-vertical-align -->
							</div><!-- close .item-listing-text-skrn -->
						</div><!-- close .item-listing-container-skrn -->
					</div><!-- close .col -->
					
					
					<div class="col-12 col-md-6 col-lg-6 col-xl-4">
						<div class="item-listing-container-skrn">
							<a href="dashboard-movie-profile.html"><img src="http://via.placeholder.com/500x707" alt="Listing"></a>
							<div class="item-listing-text-skrn">
								<div class="item-listing-text-skrn-vertical-align"><h6><a href="dashboard-movie-profile.html">Star Wars: Rogue One</a></h6>
							      <div
							        class="circle-rating-pro"
							        data-value="0.86"
							        data-animation-start-value="0.86"
							        data-size="32"
							        data-thickness="3"
							        data-fill="{
							          &quot;color&quot;: &quot;#42b740&quot;
							        }"
							        data-empty-fill="#def6de"
							        data-reverse="true"
							      ><span style="color:#42b740;">8.6</span></div>
								</div><!-- close .item-listing-text-skrn-vertical-align -->
							</div><!-- close .item-listing-text-skrn -->
						</div><!-- close .item-listing-container-skrn -->
					</div><!-- close .col -->
					
					<div class="col-12 col-md-6 col-lg-6 col-xl-4">
						<div class="item-listing-container-skrn">
							<a href="dashboard-movie-profile.html"><img src="http://via.placeholder.com/500x707" alt="Listing"></a>
							<div class="item-listing-text-skrn">
								<div class="item-listing-text-skrn-vertical-align"><h6><a href="dashboard-movie-profile.html">The Imitation Game</a></h6>
							      <div
							        class="circle-rating-pro"
							        data-value="0.6"
							        data-animation-start-value="0.6"
							        data-size="32"
							        data-thickness="3"
							        data-fill="{
							          &quot;color&quot;: &quot;#ff4141&quot;
							        }"
							        data-empty-fill="#ffe1e1"
							        data-reverse="true"
							      ><span style="color:#ff4141;">6.0</span></div>
								</div><!-- close .item-listing-text-skrn-vertical-align -->
							</div><!-- close .item-listing-text-skrn -->
						</div><!-- close .item-listing-container-skrn -->
					</div><!-- close .col -->
					
					
					<div class="col-12 col-md-6 col-lg-6 col-xl-4">
						<div class="item-listing-container-skrn">
							<a href="dashboard-movie-profile.html"><img src="http://via.placeholder.com/500x707" alt="Listing"></a>
							<div class="item-listing-text-skrn">
								<div class="item-listing-text-skrn-vertical-align"><h6><a href="dashboard-movie-profile.html">Fantastic Beasts</a></h6>
							      <div
							        class="circle-rating-pro"
							        data-value="0.86"
							        data-animation-start-value="0.86"
							        data-size="32"
							        data-thickness="3"
							        data-fill="{
							          &quot;color&quot;: &quot;#42b740&quot;
							        }"
							        data-empty-fill="#def6de"
							        data-reverse="true"
							      ><span style="color:#42b740;">8.6</span></div>
								</div><!-- close .item-listing-text-skrn-vertical-align -->
							</div><!-- close .item-listing-text-skrn -->
						</div><!-- close .item-listing-container-skrn -->
					</div><!-- close .col -->
					
					<div class="col-12 col-md-6 col-lg-6 col-xl-4">
						<div class="item-listing-container-skrn">
							<a href="dashboard-movie-profile.html"><img src="http://via.placeholder.com/500x707" alt="Listing"></a>
							<div class="item-listing-text-skrn">
								<div class="item-listing-text-skrn-vertical-align"><h6><a href="dashboard-movie-profile.html">Edge of Tomorrow</a></h6>
							      <div
							        class="circle-rating-pro"
							        data-value="0.72"
							        data-animation-start-value="0.72"
							        data-size="32"
							        data-thickness="3"
							        data-fill="{
							          &quot;color&quot;: &quot;#42b740&quot;
							        }"
							        data-empty-fill="#def6de"
							        data-reverse="true"
							      ><span style="color:#42b740;">7.2</span></div>
								</div><!-- close .item-listing-text-skrn-vertical-align -->
							</div><!-- close .item-listing-text-skrn -->
						</div><!-- close .item-listing-container-skrn -->
					</div><!-- close .col -->
					
					<div class="col-12 col-md-6 col-lg-6 col-xl-4">
						<div class="item-listing-container-skrn">
							<a href="dashboard-movie-profile.html"><img src="http://via.placeholder.com/500x707" alt="Listing"></a>
							<div class="item-listing-text-skrn">
								<div class="item-listing-text-skrn-vertical-align"><h6><a href="dashboard-movie-profile.html">Allegiant</a></h6>
							      <div
							        class="circle-rating-pro"
							        data-value="0.86"
							        data-animation-start-value="0.86"
							        data-size="32"
							        data-thickness="3"
							        data-fill="{
							          &quot;color&quot;: &quot;#42b740&quot;
							        }"
							        data-empty-fill="#def6de"
							        data-reverse="true"
							      ><span style="color:#42b740;">8.6</span></div>
								</div><!-- close .item-listing-text-skrn-vertical-align -->
							</div><!-- close .item-listing-text-skrn -->
						</div><!-- close .item-listing-container-skrn -->
					</div><!-- close .col -->
									
				</div><!-- close .row -->
				
				
				<ul class="page-numbers">
					<li><a class="previous page-numbers" href="#!"><i class="fas fa-chevron-left"></i></a></li>
					<li><span class="page-numbers current">1</span></li>
					<li><a class="page-numbers" href="#!">2</a></li>
					<li><a class="page-numbers" href="#!">3</a></li>
					<li><a class="page-numbers" href="#!">4</a></li>
					<li><a class="next page-numbers" href="#!"><i class="fas fa-chevron-right"></i></a></li>
				</ul>
				
				
				
			</div><!-- close .dashboard-container -->
		</main>
		
		
		</div><!-- close #sidebar-bg-->
		
		<!-- Required Framework JavaScript -->
		<script src="js/libs/jquery-3.3.1.min.js"></script><!-- jQuery -->
		<script src="js/libs/popper.min.js" defer></script><!-- Bootstrap Popper/Extras JS -->
		<script src="js/libs/bootstrap.min.js" defer></script><!-- Bootstrap Main JS -->
		<!-- All JavaScript in Footer -->
		
		<!-- Additional Plugins and JavaScript -->
		<script src="js/navigation.js" defer></script><!-- Header Navigation JS Plugin -->
		<script src="js/jquery.flexslider-min.js" defer></script><!-- FlexSlider JS Plugin -->
		<script src="js/jquery-asRange.min.js" defer></script><!-- Range Slider JS Plugin -->
		<script src="js/circle-progress.min.js" defer></script><!-- Circle Progress JS Plugin -->
		<script src="js/afterglow.min.js" defer></script><!-- Video Player JS Plugin -->
		<script src="js/script.js" defer></script><!-- Custom Document Ready JS -->
		<script src="js/script-dashboard.js" defer></script><!-- Custom Document Ready for Dashboard Only JS -->