<div class="modal-header">
  <h4 class="modal-title"> {{formbasligi}} </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    x
  </button>
</div>
<div>
  <section id="extended" >
    <div class="row">
      <div class="col-12">
        <div class="card">

          <div class="card-content">
            <div class="card-body table-responsive">
              <ngx-datatable   
              [selected]="chkBoxSelected"   [selectionType]="SelectionType.multi"  
              (select)="customChkboxOnSelect($event)" class="bootstrap core-bootstrap" [columns]="columns" [columnMode]="ColumnMode.force"
                [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10" [rows]="rows" [scrollbarH]="true">
                <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                [resizeable]="false">
                <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                  let-selectFn="selectFn">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
                  </div>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                  let-onCheckboxChangeFn="onCheckboxChangeFn">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox"  [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                  </div>
                </ng-template>
              </ngx-datatable-column>
  
  
                <ngx-datatable-column [sortable]="true" *ngFor="let column of columns; let i = index;" name="{{column.prop}}" prop="{{column.Name}}">
                  
                  <ng-template #buttonsTemplate let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{row[column.Name]}}
                    
                    
                  </ng-template>
    
                </ngx-datatable-column>
  
         
              </ngx-datatable>
            </div>
          </div>
          <div class="row justify-content-end d-flex">
            <div class="col-md-3 col-xl-3 col-sm-3 mr-2">
              <div class="card card-danger box-shadow-0 text-end">
                <button type="button" *ngIf="tabloSecililer.length >0 && formid!='278'  " class="btn btn-success mr-2 mb-1"
                  (click)="secilileriEkle()"><i class="fa fa-plus mr-1"></i>Seçilileri Ekle</button>


                  <button type="button" *ngIf="tabloSecililer.length >0 && formid=='278' " class="btn btn-success mr-2 mb-1"
                    (click)="secilileriSil()"><i class="fa fa-plus mr-1"></i>Seçilileri Sil</button>
              </div>
            </div>  
            <div class="col-md-3 col-xl-3 col-sm-3 mr-2">
              <div class="card card-danger box-shadow-0 text-end">
                <button class="btn btn-danger " (click)="activeModal.close('Close click')">Vazgeç</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>



</div>