<header id="videohead-pro" class="sticky-header">
    <div id="video-logo-background"><a href="/"><img src="./assets/images/logo.png" alt="Logo"></a>
    </div>

    <div #filtersHeader id="video-search-header" ngbDropdown>
        <div id="search-icon-more" ngbDropdownToggle (click)="toggleUserFiltersMenu($event)"></div>
        <input #filtersInput type="text" placeholder="Dizi, Oyuncu Veya Karakter Ara" aria-label="Search" [ngClass]="{active: filtersHeaderShown}">
        <div #filtersMenu id="video-search-header-filtering" ngbDropdownMenu>
            <form id="video-search-header-filtering-padding">
                <div class="row">
                    <div class="col-sm extra-padding">
                        
                        <h5>Tip:</h5>
                        <div class="row flex-column">
                            <div class="col-sm">
                                <label class="checkbox-pro-container">Oyuncu Oyla
                                    <input type="checkbox" checked="checked" id="movies-type">
                                    <span class="checkmark-pro"></span>
                                </label>

                                <label class="checkbox-pro-container">Dizi Oyla
                                    <input type="checkbox" id="tv-type">
                                    <span class="checkmark-pro"></span>
                                </label>
                            </div>
                            <div class="col">
                                <label class="checkbox-pro-container">Takımlar
                                    <input type="checkbox" id="movie-type">
                                    <span class="checkmark-pro"></span>
                                </label>

                                <label class="checkbox-pro-container">Belgesel
                                    <input type="checkbox" id="documentary-type">
                                    <span class="checkmark-pro"></span>
                                </label>
                            </div>
                        </div>

                        <div class="dotted-dividers-pro"></div>
                    </div>
                    <div class="col-sm extra-padding">
                        <h5>Türler:</h5>
                        <select class="custom-select">
                            <option selected>Tüm Türler</option>
                            <option value="1">Aksiyon</option>
                            <option value="2">Macera</option>
                            <option value="3">Drama</option>
                            <option value="4">Çocuk Dizileri</option>
                            <option value="5">Belgesel</option>
                            <option value="6">Drama</option>
                            <option value="7">Korku</option>
                            <option value="8">Gerilim</option>
                            <option value="9">Fantezi</option>
                            <option value="10">Romantik</option>
                            <option value="11">Bilimkurgu</option>
                            <option value="12">Tarihi</option>
                        </select>
                        <div class="dotted-dividers-pro"></div>
                    </div>
                    <div class="col-sm extra-padding">
                        <h5>Ülke:</h5>
                        <select class="custom-select">
                            <option selected>Tüm ülkeler</option>
                            <option value="1">Arjantin</option>
                            <option value="2">Avustralya</option>
                            <option value="3">Bahamalar</option>
                            <option value="4">Belçika</option>
                            <option value="5">Brezilya</option>
                            <option value="6">Kanada</option>
                            <option value="7">Şili</option>
                            <option value="8">Çin</option>
                            <option value="9">Danimarka</option>
                            <option value="10">Ekvador</option>
                            <option value="11">Fransa</option>
                            <option value="12">Almanya</option>
                            <option value="13">Yunanistan</option>
                            <option value="14">Guatemala</option>
                            <option value="15">İtalya</option>
                            <option value="16">Japonya</option>
                            <option value="18">Kore</option>
                            <option value="19">Malezya</option>
                            <option value="20">Monako</option>
                            <option value="21">Fas</option>
                            <option value="22">Yeni Zelanda</option>
                            <option value="23">Panama</option>
                            <option value="24">Portekiz</option>
                            <option value="25">Rusya</option>
                            <option value="26">Birleşik Krallık</option>
                            <option value="27">Amerika Birleşik Devletleri</option>
                        </select>
                        <div class="dotted-dividers-pro"></div>
                    </div>
                    <div class="col-sm extra-padding extra-range-padding">
                        <h5>Ortalama Puanı:</h5>
                        <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
                        <input class="range-example-rating-input" type="text" min="0" max="10" value="4,10" step="1" />
                    </div>
                </div>
                <div id="video-search-header-buttons">
                    <a href="#!" class="btn btn-green-pro">Aramayı Filtrele</a>
                    <a href="#!" class="btn">Sıfırla</a>
                </div>
            </form>
        </div>
    </div>

    <div id="mobile-bars-icon-pro" class="noselect" (click)="toggleBarsDropdownFromOutside($event)"><i class="fas fa-bars"></i></div>

    <div *ngIf="($user | async) !== null" id="header-user-profile" ngbDropdown class="dropdown">
        <div id="header-user-profile-click" class="noselect" ngbDropdownToggle>
            <img src="{{($user | async).profilresim}} || ./assets/images/demo/user-profile.jpg" alt="Kullanici resmi">
            <div id="header-username">{{($user | async).adi}}</div><i class="fas fa-angle-down"></i>
        </div>
        <div id="header-user-profile-menu" ngbDropdownMenu>
            <ul>
                <li ngbDropdownItem><a routerLink="./profile"><span class="icon-User"></span>Profilim</a></li>
                <li ngbDropdownItem><a><span class="icon-Favorite-Window"></span>Favorilerim</a></li>
                <li ngbDropdownItem><a routerLink="./account-settings"><span class="icon-Gears"></span>Hesap Detayları</a></li>
                <li ngbDropdownItem><a><span class="icon-Life-Safer"></span>Yardım ve Destek</a></li>
                <li ngbDropdownItem><a routerLink="./user-pages" (click)="logout()"><span class="icon-Power-3"></span>Çıkış Yap</a></li>
            </ul>
        </div>
    </div>
    <div *ngIf="($user | async) === null" id="header-user-profile" ngbDropdown class="dropdown">
        <div ngbDropdownToggle id="header-user-profile-click" class="d-flex align-items-center" style="padding-right: 20px;">
            <i class="fa fa-user-circle" style="font-size: 38px;"></i>
            <i class="fas fa-angle-down"></i>
        </div>
        <div id="header-user-profile-menu" ngbDropdownMenu>
            <ul>
                <li routerLink="/pages/login"><span class="dropdown-item">Giriş Yap</span></li>
                <li routerLink="pages/register"><span class="dropdown-item">Kayıt Ol</span></li>
            </ul>
        </div>  
    </div>

    <div *ngIf="($user | async) !== null" id="header-user-notification" ngbDropdown>
        <div id="header-user-notification-click" class="noselect" ngbDropdownToggle>
            <i class="far fa-bell"></i>
            <span class="user-notification-count">3</span>
        </div>
        <div id="header-user-notification-menu" ngbDropdownMenu>
            <h3>BİLDİRİMLER</h3>
            <div id="header-notification-menu-padding">
                <ul id="header-user-notification-list">
                    <li><a href="#!"><img src="./assets/images/demo/user-profile-2.jpg" alt="Profile">Lorem ipsum
                            dolor sit amet, consec tetur adipiscing elit. <div class="header-user-notify-time">21
                                hours ago</div></a></li>
                    <li><a href="#!"><img src="./assets/images/demo/user-profile-3.jpg" alt="Profile">Donec vitae
                            lacus id arcu molestie mollis. <div class="header-user-notify-time">3 days ago</div></a>
                    </li>
                    <li><a href="#!"><img src="./assets/images/demo/user-profile-4.jpg" alt="Profile">Aenean vitae
                            lectus non purus facilisis imperdiet. <div class="header-user-notify-time">5 days ago
                            </div></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div ngbDropdown #mobileSidebar="ngbDropdown">
        <nav id="mobile-navigation-pro" #mobileSidebarMenu ngbDropdownMenu>
                <ul id="mobile-menu-pro">
                    <li ngbDropdownItem routerLink="./diziler" routerLinkActive="current-menu-item">
                        <a>
                            <span class="icon-Old-TV"></span>
                            Dizi Oyla
                        </a>
                    <li>
                    <li ngbDropdownItem routerLink="./oyuncular" routerLinkActive="current-menu-item">
                        <a>
                            <span class="icon-Reel"></span>
                            Oyuncu Oyla
                        </a>
                    </li>
                    <li ngbDropdownItem routerLink="./set-ekibi" routerLinkActive="current-menu-item">
                        <a>
                            <span class="icon-Movie"></span>
                            Set Ekibi Oyla
                        </a>
                    </li>
                    <li ngbDropdownItem routerLink="./takimlar" routerLinkActive="current-menu-item">
                        <a>
                            <span class="icon-Movie-Ticket"></span>
                            Takımlar
                        </a>
                    </li>
                    <!-- Saklanmış -->
                    <li class="d-none">
                        <a href="dashboard-coming-soon.html">
                            <span class="icon-Clock"></span>
                            Megazin
                        </a>
                    </li>
                    <li *ngIf="($user | async) !== null" ngbDropdownItem>
                        <a>
                            <i class="far fa-bell"></i>
                            <span class="user-notification-count">3</span>
                            Bildirimler
                        </a>
                    </li>
                    <div class="clearfix"></div>
        
                    <div id="search-mobile-nav-pro">
                        <input type="text" placeholder="Dizi, Oyuncu Veya Karakter Ara" aria-label="Search">
                    </div>
                </ul>
        </nav>
    </div>
</header>

<nav id="sidebar-nav"><!-- Add class="sticky-sidebar-js" for auto-height sidebar -->
    <ul id="vertical-sidebar-nav" class="sf-menu">
        <li class="normal-item-pro" routerLink="./diziler" routerLinkActive="current-menu-item">
            <a>
                <span class="icon-Old-TV"></span>
                Dizi Oyla
            </a>
        </li>
        <li class="normal-item-pro" routerLink="./oyuncular" routerLinkActive="current-menu-item">
            <a>
                <span class="icon-Reel"></span>
                Oyuncu Oyla
            </a>
        </li>
        <li class="normal-item-pro" routerLink="./set-ekibi" routerLinkActive="current-menu-item">
            <a>
                <span class="icon-Movie"></span>
                Set Ekibi Oyla
            </a>
        </li>
        <li class="normal-item-pro" routerLink="./takimlar" routerLinkActive="current-menu-item">
            <a>
                <span class="icon-Movie-Ticket"></span>
                Takımlar
            </a>
        </li>
        <!-- Saklanmış -->
        <li class="d-none">
            <!-- <a href="dashboard-coming-soon.html"> -->
            <span class="icon-Clock"></span>
            Megazin
            <!-- </a> -->
        </li>

    </ul>
    <div class="clearfix"></div>
</nav>

<!-- Modal -->
<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModal" aria-hidden="true">
    <button type="button" class="close float-close-pro" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header-pro">
                <h2>Tekrar hoşgeldiniz</h2>
                <h6>JuriMedya'yi kullanmaya devam etmek için hesabınızda oturum açın</h6>
            </div>
            <div class="modal-body-pro social-login-modal-body-pro">

                <div class="registration-social-login-container">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" placeholder="Kullanıcı Adı">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" placeholder="Şifre">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-green-pro btn-display-block">Giriş Yap</button>
                        </div>
                        <div class="container-fluid">
                            <div class="row no-gutters">
                                <div class="col checkbox-remember-pro"><input type="checkbox"
                                        id="checkbox-remember"><label for="checkbox-remember"
                                        class="col-form-label">Beni Hatırla</label></div>
                                <div class="col forgot-your-password"><a href="#!">Şifremi unuttum</a></div>
                            </div>
                        </div><!-- close .container-fluid -->

                    </form>

                    <div class="registration-social-login-or">veya</div>

                </div><!-- close .registration-social-login-container -->

                <div class="registration-social-login-options">
                    <h6>Sosyal hesabınızla oturum açın</h6>
                    <div class="social-icon-login facebook-color"><i class="fab fa-facebook-f"></i> Facebook</div>
                    <div class="social-icon-login google-color"><i class="fab fa-google-plus-g"></i> Google</div>
                </div><!-- close .registration-social-login-options -->

                <div class="clearfix"></div>


            </div><!-- close .modal-body -->

            <a class="not-a-member-pro" href="signup-step2.php">Not a member? <span>Join Today!</span></a>
        </div><!-- close .modal-content -->
    </div><!-- close .modal-dialog -->
</div><!-- close .modal -->