<div id="sidebar-bg">

	<main id="col-main">

		<div class="dashboard-container">
			<h2 class="mt-3 text-center">Takımım
				<i style="font-size: 25px; cursor: pointer;" class="fas fa-plus-circle" data-toggle="modal"
					data-target="#LoginModal" role="button"></i>
			</h2>
		</div>

		<div class="clearfix"></div>

		<div class="dashboard-container">
			<div class="row">

				<div class="col-12 col-md-6 col-lg-4 col-xl-3">
					<div class="item-playlist-container-skrn">
						<a href="#!"><img src="https://www.jurimedya.com/maratonservices/oyuncular/wtp7gnwrwz.jpg"
								alt="Listing"></a>
						<div class="item-playlist-text-skrn">
							<h5><a href="#!">AYBÜKE PUSAT</a></h5>
							<h6>Başrol Kadın</h6>
						</div><!-- close .item-listing-text-skrn -->
					</div><!-- close .item-playlist-container-skrn -->
				</div><!-- close .col -->

				<div class="col-12 col-md-6 col-lg-4 col-xl-3">
					<div class="item-playlist-container-skrn">
						<a href="#!"><img src="https://www.jurimedya.com/maratonservices/oyuncular/dn9s5a9m41.jpg"
								alt="Listing"></a>
						<div class="item-playlist-text-skrn">
							<h5><a href="#!">CELİL NALÇAKAN</a></h5>
							<h6>Başrol Erkek</h6>
						</div><!-- close .item-listing-text-skrn -->
					</div><!-- close .item-playlist-container-skrn -->
				</div><!-- close .col -->

				<div class="col-12 col-md-6 col-lg-4 col-xl-3">
					<div class="item-playlist-container-skrn">
						<a href="#!"><img src="https://www.jurimedya.com/maratonservices/oyuncular/nd30c8r59j.jpg"
								alt="Listing"></a>
						<div class="item-playlist-text-skrn">
							<h5><a href="#!">BARIŞ ARDUÇ</a></h5>
							<h6>Yardımcı Erkek</h6>
						</div><!-- close .item-listing-text-skrn -->
					</div><!-- close .item-playlist-container-skrn -->
				</div><!-- close .col -->

				<div class="col-12 col-md-6 col-lg-4 col-xl-3">
					<div class="item-playlist-container-skrn">
						<a href="#!"><img src="https://www.jurimedya.com/maratonservices/oyuncular/00dp2scd4a.jpg"
								alt="Listing"></a>
						<div class="item-playlist-text-skrn">
							<h5><a href="#!">MERVE ATEŞ</a></h5>
							<h6>Çocuk Oyuncu</h6>
						</div><!-- close .item-listing-text-skrn -->
					</div><!-- close .item-playlist-container-skrn -->
				</div><!-- close .col -->

				<div class="col-12 col-md-6 col-lg-4 col-xl-3">
					<div class="item-playlist-container-skrn">
						<a href="#!"><img src="https://www.jurimedya.com/maratonservices/oyuncular/dxxqvua2oy.jpg"
								alt="Listing"></a>
						<div class="item-playlist-text-skrn">
							<h5><a href="#!">Uğur Aslan</a></h5>
							<h6>Kameraman</h6>
						</div><!-- close .item-listing-text-skrn -->
					</div><!-- close .item-playlist-container-skrn -->
				</div><!-- close .col -->

				<div class="col-12 col-md-6 col-lg-4 col-xl-3">
					<div class="item-playlist-container-skrn">
						<a href="#!"><img
								src="https://media.licdn.com/dms/image/D4D03AQE0JjccZj0zjw/profile-displayphoto-shrink_800_800/0/1683295405051?e=2147483647&v=beta&t=W4zTexS2_Q9V5qu0rF8dmhrG0E5Ap4GbjXoq0JyIYis"
								alt="Listing"></a>
						<div class="item-playlist-text-skrn">
							<h5><a href="#!">Burcu Alptekin</a></h5>
							<h6>Yönetmen</h6>
						</div><!-- close .item-listing-text-skrn -->
					</div><!-- close .item-playlist-container-skrn -->
				</div><!-- close .col -->

				<div class="col-12 col-md-6 col-lg-4 col-xl-3">
					<div class="item-playlist-container-skrn">
						<a href="#!"><img
								src="https://pbs.twimg.com/profile_images/1700759927872978944/8E3s3Roj_400x400.jpg"
								alt="Listing"></a>
						<div class="item-playlist-text-skrn">
							<h5><a href="#!">Ferhat Eşsiz</a></h5>
							<h6>Yapımcı</h6>
						</div><!-- close .item-listing-text-skrn -->
					</div><!-- close .item-playlist-container-skrn -->
				</div><!-- close .col -->

				<div class="col-12 col-md-6 col-lg-4 col-xl-3">
					<div class="item-playlist-container-skrn">
						<a href="#!"><img src="https://www.jurimedya.com/maratonservices/oyuncular/0szse86rlt.jpg"
								alt="Listing"></a>
						<div class="item-playlist-text-skrn">
							<h5><a href="#!">GÜLHAN TEKİN</a></h5>
							<h6>Yardımcı Kadın</h6>
						</div><!-- close .item-listing-text-skrn -->
					</div><!-- close .item-playlist-container-skrn -->
				</div><!-- close .col -->

			</div><!-- close .row -->


			<ul class="page-numbers">
				<li><a class="previous page-numbers" href="#!"><i class="fas fa-chevron-left"></i></a></li>
				<li><span class="page-numbers current">1</span></li>
				<li><a class="page-numbers" href="#!">2</a></li>
				<li><a class="page-numbers" href="#!">3</a></li>
				<li><a class="page-numbers" href="#!">4</a></li>
				<li><a class="next page-numbers" href="#!"><i class="fas fa-chevron-right"></i></a></li>
			</ul>


		</div><!-- close .dashboard-container -->
	</main>


</div><!-- close #sidebar-bg-->

<!-- Modal -->
<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModal" aria-hidden="true">
	<button type="button" class="close float-close-pro" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<div class="modal-dialog modal-dialog-centered select-modal" role="document">
		<div class="modal-content">
			<div class="modal-header-pro">
				<h1>Takım Oluştur</h1>
			</div>
			<div class="modal-body-pro">

				<form>

					<section class="mt-4">
						<h4 class="text-center">Oyuncular</h4>
						<div class="row flex-wrap justify-content-center"
							style="border-top: 1px solid rgba(100, 100, 122, 0.3); border-radius: 4px;">
							<div class="col takim-card">
								<div class="takim-card-img">
									<i style="font-size: 50px;" class="fas fa-user"></i>
								</div>
								<div ngbDropdown class="takim-card-select">
									<div ngbDropdownToggle name="başrolKadın" class="custom-select searchable-select">
										<input type="text" class="search-input form-control"
											placeholder="Başrol kadın ara..." autocomplete="off">
										<div ngbDropdownMenu class="select-options">
											<div ngbDropdownItem class="option"><img
													src="https://img-s1.onedio.com/id-52cd972a4a9a34312900007c/rev-0/w-1200/h-1668/f-jpg/s-0939885286dee5e09903214d34c7b5f65335a089.jpg"
													alt="Sinem Kobal" class="img-circle">Sinem Kobal</div>
											<div ngbDropdownItem class="option"><img
													src="https://img-s1.onedio.com/id-52cd972a4a9a343129000083/rev-0/w-1200/h-1811/f-jpg/s-bad5f42894e7a6f2d56d64b39d497ff766c43ffe.jpg"
													alt="Cahide Sonku" class="img-circle">Gökçe Bahadır</div>
											<div ngbDropdownItem class="option"><img
													src="https://images.mubicdn.net/images/cast_member/147538/cache-592239-1601478240/image-w856.jpg?size=800x"
													alt="Cahide Sonku" class="img-circle">Cahide Sonku</div>
											<div ngbDropdownItem class="option"><img
													src="https://img-s1.onedio.com/id-52cd972a4a9a34312900007c/rev-0/w-1200/h-1668/f-jpg/s-0939885286dee5e09903214d34c7b5f65335a089.jpg"
													alt="Sinem Kobal" class="img-circle">Sinem Kobal</div>
											<div ngbDropdownItem class="option"><img
													src="https://images.mubicdn.net/images/cast_member/147538/cache-592239-1601478240/image-w856.jpg?size=800x"
													alt="Cahide Sonku" class="img-circle">Cahide Sonku</div>
											<div ngbDropdownItem class="option"><img
													src="https://img-s1.onedio.com/id-52cd972a4a9a343129000083/rev-0/w-1200/h-1811/f-jpg/s-bad5f42894e7a6f2d56d64b39d497ff766c43ffe.jpg"
													alt="Cahide Sonku" class="img-circle">Gökçe Bahadır</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col takim-card">
								<div class="takim-card-img">
									<i style="font-size: 50px;" class="fas fa-user"></i>
								</div>
								<div ngbDropdown class="takim-card-select">
									<div ngbDropdownToggle name="başrolErkek" class="custom-select searchable-select">
										<input type="text" class="search-input form-control" placeholder="Başrol erkek ara..."
											autocomplete="off">
										<div ngbDropdownMenu class="select-options">
											<div ngbDropdownItem class="option"><img
													src="https://tiyatrolar.com.tr/files/contributer/a/ayhan-isik/gallery/6103/ayhan-isik-6103.jpg"
													alt="Ayhan Işık" class="img-circle">Ayhan Işık</div>
											<div ngbDropdownItem class="option"><img
													src="https://th.bing.com/th/id/OIP.IE0_9FQh-eDNbsXbKnnPZAHaKU?pid=ImgDet&rs=1"
													alt="Yılmaz Güney" class="img-circle">Yılmaz Güney</div>
											<div ngbDropdownItem class="option"><img
													src="https://www.tarihtebugun.org/dosyas/images/sadri_alisik_dogum_gunu898-tarihtebugun-1589255288-tarihtebugun-800x400.jpg"
													alt="Sadri Alışık" class="img-circle">Sadri Alışık</div>
											<div ngbDropdownItem class="option"><img
													src="https://tiyatrolar.com.tr/files/contributer/a/ayhan-isik/gallery/6103/ayhan-isik-6103.jpg"
													alt="Ayhan Işık" class="img-circle">Ayhan Işık</div>
											<div ngbDropdownItem class="option"><img
													src="https://th.bing.com/th/id/OIP.IE0_9FQh-eDNbsXbKnnPZAHaKU?pid=ImgDet&rs=1"
													alt="Yılmaz Güney" class="img-circle">Yılmaz Güney</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col takim-card">
								<div class="takim-card-img">
									<i style="font-size: 50px;" class="fas fa-user"></i>
								</div>
								<div ngbDropdown class="takim-card-select">
									<div ngbDropdownToggle name="başrolErkek" class="custom-select searchable-select">
										<input type="text" class="search-input form-control" placeholder="Yardımcı kadın ara..."
											autocomplete="off">
										<div ngbDropdownMenu class="select-options">
											<div ngbDropdownItem class="option"><img
													src="https://img-s3.onedio.com/id-52cd972a4a9a343129000075/rev-0/w-1200/h-1600/f-jpg/s-ea60af8587bc82f553f8a0e3678c61039924a3e7.jpg"
													alt="Ece Uslu" class="img-circle">Ece Uslu</div>
											<div ngbDropdownItem class="option"><img
													src="https://img-s1.onedio.com/id-52cd972a4a9a34312900007d/rev-0/w-1200/h-900/f-jpg/s-4e5dee28a144d567081870618f9360ce1ad95cee.jpg"
													alt="Deniz Çakır" class="img-circle">Deniz Çakır</div>
											<div ngbDropdownItem class="option"><img
													src="https://img-s2.onedio.com/id-52cd972a4a9a343129000081/rev-0/w-1200/h-1604/f-jpg/s-7b6ad4cd18a4a2c037d00bbf04bc100af6188cc6.jpg"
													alt="Tuba Büyüküstün" class="img-circle">Tuba Büyüküstün</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col takim-card">
								<div class="takim-card-img">
									<i style="font-size: 50px;" class="fas fa-user"></i>
								</div>
								<div ngbDropdown class="takim-card-select">
									<div ngbDropdownToggle name="başrolErkek" class="custom-select searchable-select">
										<input type="text" class="search-input form-control" placeholder="Yardımcı erkek ara..."
											autocomplete="off">
										<div ngbDropdownMenu class="select-options">
											<div ngbDropdownItem class="option"><img
													src="https://dizioyunculari.net/uppack/m_huseyin-avni-danyal.jpg"
													alt="Hüseyin Avni Danyal" class="img-circle">Hüseyin Avni Danyal
											</div>
											<div ngbDropdownItem class="option"><img
													src="https://dizioyunculari.net/uppack/m_mehmet-ozan-dolunay.jpg"
													alt="Mehmet Ozan Dolunay" class="img-circle">Mehmet Ozan Dolunay
											</div>
											<div ngbDropdownItem class="option"><img
													src="https://dizioyunculari.net/uppack/m_bilal-yigit-kocak.jpg"
													alt="Bilal Yiğit Koçak" class="img-circle">Bilal Yiğit Koçak
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col takim-card">
								<div class="takim-card-img">
									<i style="font-size: 50px;" class="fas fa-user"></i>
								</div>
								<div ngbDropdown class="takim-card-select">
									<div ngbDropdownToggle name="başrolErkek" class="custom-select searchable-select">
										<input type="text" class="search-input form-control" placeholder="Kötü kadın ara..."
											autocomplete="off">
										<div ngbDropdownMenu class="select-options">
											<div ngbDropdownItem class="option"><img
													src="https://img-s3.onedio.com/id-52cd972a4a9a343129000082/rev-0/w-1200/h-1800/f-jpg/s-911935639ddf864dc66f5308067119f6fb18fc80.jpg"
													alt="Gamze Özçelik" class="img-circle">Gamze Özçelik</div>
											<div ngbDropdownItem class="option"><img
													src="https://img-s1.onedio.com/id-52cd972a4a9a343129000080/rev-0/w-1200/h-1540/f-jpg/s-271ceec3eed75f94429ecdfe9b51efd39a0d6345.jpg"
													alt="Berrak Düzünataç" class="img-circle">Berrak Düzünataç</div>
											<div ngbDropdownItem class="option"><img
													src="https://img-s2.onedio.com/id-52cd972a4a9a343129000087/rev-0/w-1200/h-768/f-jpg/s-0a4115cd7b081f136274c1c5e95c3bf3ba74e0eb.jpg"
													alt="Cansu Dere" class="img-circle">Cansu Dere</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col takim-card">
								<div class="takim-card-img">
									<i style="font-size: 50px;" class="fas fa-user"></i>
								</div>
								<div ngbDropdown class="takim-card-select">
									<div ngbDropdownToggle name="başrolErkek" class="custom-select searchable-select">
										<input type="text" class="search-input form-control" placeholder="Kötü erkek ara..."
											autocomplete="off">
										<div ngbDropdownMenu class="select-options">
											<div ngbDropdownItem class="option"><img
													src="https://dizioyunculari.net/uppack/m_feyyaz-serifoglu.jpg"
													alt="Feyyaz Şerifoğlu" class="img-circle">Feyyaz Şerifoğlu</div>
											<div ngbDropdownItem class="option"><img
													src="https://dizioyunculari.net/uppack/m_halit-ozgur-sari.jpg"
													alt="Halit Özgür Sarı" class="img-circle">Halit Özgür Sarı</div>
											<div ngbDropdownItem class="option"><img
													src="https://dizioyunculari.net/uppack/m_ugur-aslan.jpg"
													alt="Uğur Aslan" class="img-circle">Uğur Aslan</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col takim-card">
								<div class="takim-card-img">
									<i style="font-size: 50px;" class="fas fa-user"></i>
								</div>
								<div ngbDropdown class="takim-card-select">
									<div ngbDropdownToggle name="başrolErkek" class="custom-select searchable-select">
										<input type="text" class="search-input form-control" placeholder="Çocuk oyuncu ara..."
											autocomplete="off">
										<div ngbDropdownMenu class="select-options">
											<div ngbDropdownItem class="option"><img
													src="https://dizioyunculari.net/uppack/m_aybars-kartal-ozson.jpg"
													alt="Aybars Kartal Özson" class="img-circle">Aybars Kartal Özson
											</div>
											<div ngbDropdownItem class="option"><img
													src="https://s.medyafaresi.com/files/2018/10/13/887149/887149_0.jpg"
													alt="Alihan Türkdemir" class="img-circle">Alihan Türkdemir</div>
											<div ngbDropdownItem class="option"><img
													src="https://s.medyafaresi.com/files/2018/10/13/887149/887149_2.jpg"
													alt="Beren Gökyıldız" class="img-circle">Beren Gökyıldız</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>


					<section class="mt-5">
						<h4>Set Ekibi</h4>

						<div class="row flex-wrap justify-content-center"
							style="border-top: 1px solid rgba(100, 100, 122, 0.3); border-radius: 4px;">
							<div class="col takim-card">
								<div class="takim-card-img">
									<i style="font-size: 50px;" class="fas fa-user"></i>
								</div>
								<div ngbDropdown class="takim-card-select">
									<div ngbDropdownToggle name="başrolKadın" class="custom-select searchable-select">
										<input type="text" class="search-input form-control"
											placeholder="Senarist ara..." autocomplete="off">
										<div ngbDropdownMenu class="select-options">
											<div ngbDropdownItem class="option"><img
													src="https://th.bing.com/th/id/OIP.wModKhWJtR-N_UMs6VaK4QHaE7?pid=ImgDet&rs=1"
													alt="Hüseyin Peyda" class="img-circle">Hüseyin Peyda</div>
											<div ngbDropdownItem class="option"><img
													src="https://th.bing.com/th/id/OIP.rs3jzgIHOR9Ni6m5Ggn8ygHaEK?w=310&h=180&c=7&r=0&o=5&pid=1.7"
													alt="Abdullah Oğuz" class="img-circle">Abdullah Oğuz</div>
											<div ngbDropdownItem class="option"><img
													src="https://th.bing.com/th/id/R.3075ec53ea6d622853b721c03271d4fc?rik=8w3nE9htG%2fVaKQ&pid=ImgRaw&r=0"
													alt="Yücel Çakmaklı" class="img-circle">Yücel Çakmaklı</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col takim-card">
								<div class="takim-card-img">
									<i style="font-size: 50px;" class="fas fa-user"></i>
								</div>
								<div ngbDropdown class="takim-card-select">
									<div ngbDropdownToggle name="başrolKadın" class="custom-select searchable-select">
										<input type="text" class="search-input form-control"
											placeholder="Kameraman ara..." autocomplete="off">
										<div ngbDropdownMenu class="select-options">
											<div ngbDropdownItem class="option"><img
													src="https://cdn.armut.com/UserPics/tr:w-325,h-325/54a24d3b-e399-4670-9ed5-19569c10dfe9.jpeg"
													alt="İrfan Ergül" class="img-circle">İrfan Ergül</div>
											<div ngbDropdownItem class="option"><img
													src="https://cdn.armut.com/UserPics/tr:w-325,h-325/0829e5a5-dcad-43d5-9e6a-ddd166939e6e.jpeg"
													alt="Özkan Emre" class="img-circle">Özkan Emre</div>
											<div ngbDropdownItem class="option"><img
													src="https://cdn.armut.com/UserPics/tr:w-325,h-325/392d7f4f-1928-4981-bb3c-aaa344df146d.jpg"
													alt="İrfan Ergül" class="img-circle">Ahmet Faruk Sarper</div>
											<div ngbDropdownItem class="option"><img
													src="https://cdn.armut.com/UserPics/tr:w-325,h-325/54a24d3b-e399-4670-9ed5-19569c10dfe9.jpeg"
													alt="İrfan Ergül" class="img-circle">İrfan Ergül</div>
											<div ngbDropdownItem class="option"><img
													src="https://cdn.armut.com/UserPics/tr:w-325,h-325/0829e5a5-dcad-43d5-9e6a-ddd166939e6e.jpeg"
													alt="Özkan Emre" class="img-circle">Özkan Emre</div>
											<div ngbDropdownItem class="option"><img
													src="https://cdn.armut.com/UserPics/tr:w-325,h-325/392d7f4f-1928-4981-bb3c-aaa344df146d.jpg"
													alt="İrfan Ergül" class="img-circle">Ahmet Faruk Sarper</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col takim-card">
								<div class="takim-card-img">
									<i style="font-size: 50px;" class="fas fa-user"></i>
								</div>
								<div ngbDropdown class="takim-card-select">
									<div ngbDropdownToggle name="başrolKadın" class="custom-select searchable-select">
										<input type="text" class="search-input form-control"
											placeholder="Yapımcı ara..." autocomplete="off">
										<div ngbDropdownMenu class="select-options">
											<div ngbDropdownItem class="option"><img
													src="https://th.bing.com/th/id/OIP.rs3jzgIHOR9Ni6m5Ggn8ygHaEK?w=310&h=180&c=7&r=0&o=5&pid=1.7"
													alt="Abdullah Oğuz" class="img-circle">Abdullah Oğuz</div>
											<div ngbDropdownItem class="option"><img
													src="https://th.bing.com/th/id/OIP.wModKhWJtR-N_UMs6VaK4QHaE7?pid=ImgDet&rs=1"
													alt="Hüseyin Peyda" class="img-circle">Hüseyin Peyda</div>
											<div ngbDropdownItem class="option"><img
													src="https://cdn.armut.com/UserPics/tr:w-325,h-325/54a24d3b-e399-4670-9ed5-19569c10dfe9.jpeg"
													alt="İrfan Ergül" class="img-circle">İrfan Ergül</div>
											<div ngbDropdownItem class="option"><img
													src="https://th.bing.com/th/id/OIP.wModKhWJtR-N_UMs6VaK4QHaE7?pid=ImgDet&rs=1"
													alt="Hüseyin Peyda" class="img-circle">Hüseyin Peyda</div>
											<div ngbDropdownItem class="option"><img
													src="https://cdn.armut.com/UserPics/tr:w-325,h-325/54a24d3b-e399-4670-9ed5-19569c10dfe9.jpeg"
													alt="İrfan Ergül" class="img-circle">İrfan Ergül</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col takim-card">
								<div class="takim-card-img">
									<i style="font-size: 50px;" class="fas fa-user"></i>
								</div>
								<div ngbDropdown class="takim-card-select">
									<div ngbDropdownToggle name="başrolKadın" class="custom-select searchable-select">
										<input type="text" class="search-input form-control"
											placeholder="Yönetmen ara..." autocomplete="off">
										<div ngbDropdownMenu class="select-options">
											<div ngbDropdownItem class="option"><img
													src="https://cdn.armut.com/UserPics/tr:w-325,h-325/0829e5a5-dcad-43d5-9e6a-ddd166939e6e.jpeg"
													alt="Özkan Emre" class="img-circle">Özkan Emre</div>
											<div ngbDropdownItem class="option"><img
													src="https://th.bing.com/th/id/R.3075ec53ea6d622853b721c03271d4fc?rik=8w3nE9htG%2fVaKQ&pid=ImgRaw&r=0"
													alt="Yücel Çakmaklı" class="img-circle">Yücel Çakmaklı</div>
											<div ngbDropdownItem class="option"><img
													src="https://th.bing.com/th/id/OIP.rs3jzgIHOR9Ni6m5Ggn8ygHaEK?w=310&h=180&c=7&r=0&o=5&pid=1.7"
													alt="Abdullah Oğuz" class="img-circle">Abdullah Oğuz</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>

					<div class="form-group row ml-0">
						<button type="button" class="btn btn-green-pro btn-display-block col-6 col-sm-4 col-lg-2"
							type="submit">Kaydet</button>
						<button type="button" class="btn btn-display-block col-6 col-sm-4 col-lg-2 ml-sm-1" type="reset"
							onclick="resetForm()">Sıfırla</button>
					</div>
				</form>



			</div><!-- close .modal-body -->

		</div><!-- close .modal-content -->
	</div><!-- close .modal-dialog -->
</div><!-- close .modal -->

<!-- Select with Search JS -->
<script src="js/searchable-select.js"></script>

<!-- Required Framework JavaScript -->
<script src="js/libs/jquery-3.3.1.min.js"></script><!-- jQuery -->
<script src="js/libs/popper.min.js" defer></script><!-- Bootstrap Popper/Extras JS -->
<script src="js/libs/bootstrap.min.js" defer></script><!-- Bootstrap Main JS -->
<!-- All JavaScript in Footer -->

<!-- Additional Plugins and JavaScript -->
<script src="js/navigation.js" defer></script><!-- Header Navigation JS Plugin -->
<script src="js/jquery.flexslider-min.js" defer></script><!-- FlexSlider JS Plugin -->
<script src="js/jquery-asRange.min.js" defer></script><!-- Range Slider JS Plugin -->
<script src="js/circle-progress.min.js" defer></script><!-- Circle Progress JS Plugin -->
<script src="js/afterglow.min.js" defer></script><!-- Video Player JS Plugin -->
<script src="js/script.js" defer></script><!-- Custom Document Ready JS -->
<script src="js/script-dashboard.js" defer></script><!-- Custom Document Ready for Dashboard Only JS -->